.header {
  position: fixed;
  top: 37px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 10px 15px 0px 15px;
  height: 40px;
}

.header-text {
  font-size: 13.5px;
}

.header-left {
  font-weight: 400;
}

.header-center {
  font-size: 14px;
  font-weight: 700;
}
