@import "index.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap");
@import "header.css";
@import "search-box.css";
@import "reset.css";
@import "nav.css";

* {
  box-sizing: border-box;
}

.body,
html {
  background-color: #000000;
  color: #ffffff;
}
